{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"func-name-matching": 1,
		"new-cap": [2, {
			"capIsNewExceptions": [
				"Call",
				"NewPromiseCapability",
				"Type",
			]
		}],
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"max-lines-per-function": 0,
				"no-invalid-this": 1,
				"prefer-promise-reject-errors": 0,
			},
		},
	],
}
